<div class="center-content">
  <div class="title-login">Login</div>
  <span class="ui-float-label">
    <input id="login-username" type="text" size="30" pInputText [(ngModel)]="username">
    <label for="login-username">Username</label>
  </span>
  <span class="ui-float-label">
    <input id="login-password" type="password" size="30" pInputText [(ngModel)]="password">
    <label for="login-password">Password</label>
  </span>
  <div class="controls">
    <button pButton type="button" label="Login" (click)="login()"></button>
  </div>
</div>
